.cart-container {
  text-align: center;
  width: 100%;
}
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
}
.cart-item {
  border-radius: 5px;
  border: 1px solid var(--primaryText);
  box-shadow: 2px 3px;
  & .price::before {
    content: "₹";
  }
  & img {
    height: 300px;
    width: 300px;
    padding: 10px;
  }
}
