.products-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}
.btn-page {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: rgb(0, 0, 255);
  color: #ffffff;
  &:disabled {
    background-color: #777777;
    color: #000000;
  }
}
